<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <title>Call App</title>

</head>
<body class="bg-secondary">
        <div class="card border-0 mx-auto mt-5" style="max-width: 18rem;">
          <div class="card-header fw-bold fs-2 display-6">Connect...</div>
          <div class="card-body text-dark">
            <h5 class="card-title">{% block label %}{% endblock %}</h5>

              <form method="POST">
                  {% csrf_token %}
                  <div class="input-group">
                    {% block form %}{% endblock %}
<!--                    <input class="form-control" type="text">-->
                      <input type="submit" value="submit">
                  </div>

              </form>
              <div class="mt-2">
                  {% block para %}{% endblock %}
              </div>
          </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>