{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <title>Title</title>
</head>
<body class="bg-secondary">
    <div class="card w-50 h-75 mx-auto mt-5">
      <div class="card-body contacts-card">
          <div class="header fw-bold text-center">
              <div class="mb-2 fs-6">Contacts</div>
              <input class="form-control mx-auto w-50" type="text" placeholder="Search" readonly>

          </div>
          <hr />
          <div class="body" style="height: 400px;">
              <table class="table">
                  {% for user in users %}
                    {% if user != current_user %}
                      <tr>
                          <td>
                              <div class="d-flex">
                                  <div class="flex-grow-1 p-2 username" id="">{{ user.username }}</div>
                                  <div class="me-2 btn" onclick="audioCall({{ user.id }});"><i class="bi bi-telephone-fill"></i></div>
                                  <div class="btn" onclick="videoCall({{ user.id }});"><i class="bi bi-camera-video-fill"></i></div>
                              </div>
                          </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
              </table>
          </div>
          <hr />
          <div class="footer">
              <span class="fw-bold">@</span><span class="text-muted">Connect...</span>
<!--              <div class="text-center">-->
<!--                  <div>recent</div>-->
<!--              </div>-->
<!--              <div class="text-center">-->
<!--                  <div><i class="bi bi-people-fill"></i></div>-->
<!--                  <div class="fs-6">Contacts</div>-->
<!--              </div>-->
          </div>
      </div>
      <div class="card-body video-card">
        <div class="flexChild" id="camera-container">
           <div class="camera-box">
               <div id="call-1-video"></div>
               <div id="call-2-video"></div>

               <video id="received_video" autoplay></video>
               <video id="local_video" autoplay muted></video>

               <div class="d-flex">
                   <div id="hang-up-video-button" class="btn">Hang Up Video</div>
                   <div id="accept-video" class="btn">Accept</div>
               </div>

           </div>
        </div>
      </div>
      <div class="card-body audio-card">
        <div class="flexChild" id="audio-container">
           <div class="">
               <div id="call-1-audio"></div>
               <div id="call-2-audio"></div>

               <audio id="received_audio" controls autoplay></audio>
               <audio id="local_audio" controls autoplay></audio>

               <div class="d-flex">
                   <div id="hang-up-call-button" class="btn">Hang Up Audio</div>
                   <div id="accept-call" class="btn">Accept</div>
               </div>

           </div>
        </div>
      </div>
    </div>

    {{ user_id|json_script:"userID" }}

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'app/socket.js' %}"></script>
    <script src="{% static 'app/helpers.js' %}"></script>
    <script src="{% static 'app/webSocket.js' %}"></script>

</body>
</html>